{% extends 'base.html' %}

{% block content %}
<header class="imageheader registrationheader">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="main-heading"><span>ADVISOR NETWORK</span></h1>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Advisor Network &mdash; Login</h1>
                <p>
                    This page will be available shortly. You will receive an email when it is ready for access. Thank you for your patience!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}