{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<header class="imageheader registrationheader">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="main-heading"><span>ADVISOR NETWORK</span></h1>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Advisor Network &mdash; Home
                </h1>
                {% if school %}
                <h2>{{ school.name }}</h2>
                <h2>MUNI XXII Delegate Assignment Roster</h2>
                <p> <i>Before filling out and submitting this form, please make sure that you have carefully read our Financial Policy and
                    Registration Process located on the registration page of our website as well as within your Registration Guidebook.
                    You can also <a target="_blank" href="http://muni.illinoismun.org/assets/forms/financial.pdf">click here</a>  to be directed to it. Any questions or concerns pertaining to our Financial Policy and
                    Registration Process, this form, and any and all registration related issues can be directed to our Under Secretary
                    General of Registration, John Hall, at <a href="mailto:registration@illinoismun.org">registration@illinoismun.org</a></i> <br><br>
                    <b>Below you will enter the roster of all delegates you intend on bringing to MUNI XXII.
                    First you will enter your name and hotel room number in case an issue arises and we can not get ahold of you on the
                    phone. Then, enter each delegate’s name, position assignment, committee assignment, and hotel room number. We require
                    delegate hotel room numbers for the purpose of Midnight Crisis wake ups.</b></p>
                <h3> Advisor: </h3>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number (Work)</th>
                        <th>Phone Number (Mobile)</th>
                        <th>Hotel Room Number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                    {% for advisor in advisors %}
                    <tr>
                        <td>{{ advisor.name }}</td>
                        <td>{{ advisor.email }}</td>
                        <td>{% if advisor.work_phone_number.is_valid %}{{ advisor.work_phone_number }}{% endif %}</td>
                        <td>{% if advisor.mobile_phone_number.is_valid%}{{ advisor.mobile_phone_number }}{% endif %}</td>
                        <td>{{ advisor.hotel_room_number }}</td>
                        <td><a href="/advisor/{{advisor.pk}}/edit"><i class="fa fa-cog"</a></td>
                        {% if forloop.counter0 > 0 %}
                        <td><a href="/advisor/{{ advisor.pk }}/delete"><i class="fa fa-times-circle"></i></a></td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <form action="/addadvisor" method="POST">
                            {% csrf_token %}
                            <td><input name="name" class="form-control" id="advisorName"  placeholder="Name"></td>
                            <td><input name="email" class="form-control" id="advisorEmail" placeholder="Email"></td>
                            <td><input name="work_phone_number" class="form-control" id="advisorWorkPhone" placeholder="Work Phone No."></td>
                            <td><input name="mobile_phone_number" class="form-control" id="advisorMobilePhone" placeholder="Mobile No."></td>
                            <td><input name="hotel_room_number" class="form-control" id="advisorHotelRoom"  placeholder="Hotel Room No."></td>
                            <td colspan="2"><button type="submit" class="btn btn-success">Add</button></td>
                        </form>
                    </tr>

                    </tbody>
                </table>

                 <h3> Delegate: </h3>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Committee</th>
                        <th>Hotel Room Number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    {% for delegate in delegates %}
                    <tbody>
                    <tr>
                        <td>{{ delegate.name }}</td>
                        <td> {{ delegate.position }}</td>
                        <td> {{ delegate.committee }}</td>
                        <td> {{ delegate.hotel_room_number }}</td>
                        <td><a href="/delegate/{{ delegate.pk }}/edit"><i class="fa fa-cog"></i></a></td>
                        <td><a href="/delegate/{{ delegate.pk }}/delete"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <form action="/adddelegate" method="POST">
                            {% csrf_token %}
                            <td><input name="name" class="form-control" id="delegateName"  placeholder="Name"></td>
                            <td><input name="position" class="form-control" id="delegatePosition" placeholder="Position"></td>
                            <td>
                                <select name="committee" class="form-control" id="delegateCommittee">
                                    <option value="">Select a committee</option>
                                    {% for c in committee_list %}
                                    <option value="{{c}}">{{c}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input name="hotel_room_number" class="form-control" id="delegateHotelRoom"  placeholder="Hotel Room No."></td>
                            <td colspan="2"><button type="submit" class="btn btn-success">Add</button></td>
                        </form>
                    </tr>
                    </tbody>
                </table>

                <h4>Below, you may update the current status of your payments.</h4>

                {% if school.marked_paid_at == null %}
                <a href="/mark-school-paid">Mark school fee as paid</a><br>
                {% else %}
                You have already marked your school fee as paid.<br>
                {% endif %}

                {% if school.transportation_required %}
                {% if school.marked_paid_transit_fee == null %}
                <a href="/mark-transit-paid">Mark transit fee as paid</a><br>
                {% else %}
                You have already marked your transit fee as paid.<br>
                {% endif %}
                {% endif %}

                {% if school.marked_paid_delegate_fee == null %}
                <a href="/mark-delegate-paid">Mark delegate fee as paid</a><br>
                {% else %}
                You have already marked your delegate fee as paid.<br>
                {% endif %}
                {% endif %}


                <br>
                <h4>Below, you may upload your delegates' position papers.</h4>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form pos_paper_form %}
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
                <hr>
                <a href="/logout?next=/" title="Logout">Click here to logout</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
