{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
<header class="imageheader registrationheader">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="main-heading"><span>POSITION PAPERS</span></h1>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="illinois-blue-text">What is a <span class="illinois-orange-text">Position Paper?</span></h3>
                <p>
                    Simply put, a position paper is used to express your views to your fellow delegates before the conference begins. A position paper outlines the views of your home government on the topics that will be debated in your committee. A good position paper includes a brief description of the situation at a global level, your home government’s official position on the topic, and policies or actions that your home government would support for addressing the topic. <strong>Position Papers are due Friday, March 3 by 11:59pm.</strong>
                </p>
                <div>
                    The specifications for position papers are listed below:
                    <ul>
                        <li>Maximum one (1) page <em>per topic</em></li>
                        <li>Times New Roman 12pt font</li>
                        <li>Single Spaced</li>
                        <li>1" margins</li>
                    </ul>
                    You can find examples of both a General Assembly and Security Council style position paper below.<br>
                    <ul>
                        <li><a target="_blank" href="http://muni.illinoismun.org/assets/GAExamplePositionPaper.pdf" title="GA">Example General Assembly paper</a></li>
                        <li><a target="_blank" href="http://muni.illinoismun.org/assets/SCExamplePositionPaper.pdf" title="Security Council">Example Security Council paper</a></li>
                    </ul>
                </div>
                <h3 class="illinois-blue-text">Who is Required to Write <span class="illinois-orange-text">Position Papers?</span></h3>
                <ul>
                    <li>Disarmament and International Security Committee (DISEC)</li>
                    <li>Economic and Social Council (ECOSOC)</li>
                    <li>Economic and Financial Committee (ECOFIN)</li>
                    <li>World Health Organization (WHO)</li>
                    <li>United Nations Human Rights Council (UNHRC)</li>
                    <li>Illinois General Assembly</li>
                    <li>UNSC 2017: The World at a Crossroads*</li>
                </ul>
                <small>*please submit a position paper for only two of the topic areas</small>
                <h3 class="illinois-blue-text">How do I Submit my Position Papers and <span class="illinois-orange-text">View Others?</span></h3>
                <p>
                    Faculty advisors can submit their school’s position papers via the MUNI Advisor Network. Once submitted, position papers will be publicly available below. Position Papers will be sorted by committee and position/country.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="cmtselect">To view position papers, please select a committee:</label>
                <select id="cmtselect">
                    <option value="-">Select a committee...</option>
                    {% for k in cmt %}
                    <option value="{{k}}">{{k}}</option>
                    {%endfor%}
                </select>
                <hr>
                {% for committee, sub in papers %}
                <table style="display: none;" class="papertable table table-bordered" data-cmt="{{ committee }}">
                    <tr>
                        <!--
                        <th>School</th>
                        <th>Delegate</th>-->
                        <th>Position</th>
                        <th>Position Paper</th>
                    </tr>
                    {% for paper in sub %}
                    <tr>
                        {% comment %}
                        <td>{{ paper.delegate.school.name }}</td>
                        <td>{{ paper.delegate.name }}</td>
                        {% endcomment %}
                        <td>{{ paper.delegate.position }}</td>
                        <td><a target="_blank" href="{{ paper.paper.url }}">Click Here</a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block addl_footer %}
<script type="text/javascript">
    $(function() {
        $("#cmtselect").change(function() {
            $(".papertable").hide();
            $(".papertable[data-cmt='" + $(this).val() + "']").show();
        }).change();
    });
</script>
{% endblock %}
