{% extends 'base.html' %}


{% load bootstrap3 %}
{% block header %}
<header class="imageheader registrationheader">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="main-heading"><span>Registration</span></h1>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<style>
    #reg-table td[colspan^="3"] {
        text-align: center;
    }

    #reg-table tr td:first-child {
        font-weight: 800;
        font-style: italic;
    }
</style>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Registration</h1>

                <br>
                <p>Hello!</p>

                <p>
                    Welcome to the registration page of MUNI XXIII. We are very happy that you are considering our conference.
                </p>

                <p>
                    Below you can find the MUNI XXIII Registration Table which contains all of the important dates pertaining to registration periods and payment deadlines as well as all of the fees and their amounts for our conference. You will also find links to both our Registration Guidebook, which contains our detailed Financial Policy and Registration Process, as well as our Delegate Liability/Photo Release Forms. The policies outlined in the Registration Guidebook and the Delegate Liability/Photo Release Forms are final and very important.
                </p>

                <p>
                    We have kept most of the policies consistent from MUNI XXII, with the exception of small changes to the delegate drop fee. For schools that register during the regular registration period, the delegate drop fee has increased to $27.50. For schools that register during the late registration period, the delegate drop fee has increased to $30.00.  Also, we are waiving the school fee for schools that will attend MUNI for the first time, or schools that have not attended MUNI for the last 5 years.
                </p>

                <p>
                    If you have any questions or comments, please don’t hesitate to contact me at <a href="mailto:registration@illinoismun.org">registration@illinoismun.org</a>! I look forward working with all of you to make this an enjoyable experience for you and your delegates.
                </p>

                <p>
                Best,<br>
                Daniel Benson<br>
                Under Secretary General of Registration | MUNI XXIII
                </p>

                <table class="table table-bordered" id="reg-table">
                    <tr>
                        <th><em>MUNI XXIII Registration Table</em></th>
                        <th>Early Registration</th>
                        <th>Regular Registration</th>
                        <th>Late Registration<!--Kanye West--></th>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Registration Period</td>
                        <td>Sunday, October 1st - Tuesday, November 7th</td>
                        <td>Wednesday, November 8th - Sunday, December 31st</td>
                        <td>Monday, January 1st - Wednesday, January 31st</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">School Fee</td>
                        <td>$50.00</td>
                        <td>$60.00</td>
                        <td>$70.00</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">School Fee Deadline</td>
                        <td>Tuesday, November 7th</td>
                        <td>Sunday, December 31st</td>
                        <td>Wednesday, January 31st</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">School Fee Refundable?</td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Transportation Fee</td>
                        <td>$50.00</td>
                        <td>$50.00</td>
                        <td>$50.00</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Transportation Fee Deadline</td>
                        <td>Wednesday, February 7th</td>
                        <td>Wednesday, February 7th</td>
                        <td>Wednesday, February 7th</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Transportation Fee Refundable?</td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Delegate Fee</td>
                        <td>$50.00</td>
                        <td>$55.00</td>
                        <td>$60.00</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Delegate Fee/Assignment Roster Deadline</td>
                        <td>Sunday, December 31st</td>
                        <td>Sunday, December 31st</td>
                        <td>Wednesday, February 14th</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Date That Delegate Drop Fee Goes Into Effect</td>
                        <td colspan="3">Monday, January 1st</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Drop Fee Per Delegate</td>
                        <td>$25.00</td>
                        <td>$27.50</td>
                        <td>$30.00</td>
                    </tr>
                    <tr>
                        <td class="regtableinfo">Date That All Fees Become Non-Refundable</td>
                        <td colspan="3">Tuesday, February 1st</td>
                    </tr>
                </table>

                <a target="_blank" href="http://muni.illinoismun.org/assets/forms/financial.pdf">Please click here for the Registration Guidebook which contains our detailed financial policy and registration process.</a><br>
                <br>
                <a target="_blank" href="http://muni.illinoismun.org/assets/forms/liability.pdf">Please click here for the Delegate Liability and Photo Release forms.</a><br>

                <h2>Registration Form</h2>
                <p>
                    Before filling out and submitting this registration form, please make sure that you have carefully read our Financial Policy and Registration Process located on the registration page of our website as well as within your Registration Guidebook. You can also <a target="_blank" href="http://muni.illinoismun.org/assets/forms/financial.pdf">click here</a> to be directed to it. Any questions or concerns pertaining to our Financial Policy and Registration Process, this form, and any and all registration related issues can be directed to our Under Secretary General of Registration, John Hall, at registration@illinoismun.org
                </p>
                <form action="/register" method="post">
                    {% csrf_token %}
                    {% bootstrap_field form.school_name %}
                    {% bootstrap_field form.school_address %}
                    <small>Please be sure to specify city, state, and zip code in address.</small>

                    {% bootstrap_field form.school_phone %}
                    {% bootstrap_field form.initial_advisor_name %}
                    {% bootstrap_field form.initial_advisor_mobile_phone %}
                    <small>
                        Below, you will select a login email and password for the MUNI XXII Advisor Network. The Advisor Network is the system you will use to submit all registration information and materials from this point on as well as  make any changes concerning your delegation’s registration. The Advisor Network is described more in depth within the Financial Policy and Registration Process found on our website and within your Registration Guidebook.
                    </small>
                    {% bootstrap_field form.initial_advisor_email %}
                    {% bootstrap_field form.initial_password %}
                    {% bootstrap_field form.rough_number_of_delegates %}

                    <strong>Will your delegation require transportation during the conference?</strong><br>
                    <small>
                        (Our conference is held on campus at the University of Illinois. However, the conference hotel, the Wyndham Garden, is is located off campus. Conference transportation comes in the form of coach busses taking you and your delegation to and from the conference location and hotel throughout the weekend. There is a $50 Transportation Fee that covers you and your entire delegation throughout the conference should you sign up for transportation.)
                    </small>
                    {% bootstrap_field form.transportation_required show_label=False %}

                    <h3>Position Preferences</h3>
                    <p>
                        Below is an opportunity for your delegation to let us know which countries, positions and committees your delegates prefer. We cannot guarantee your top choices, but the sooner you register, the better the chances for your school.
                    </p>
                    {% bootstrap_field form.crisis_interested %}
                    {% bootstrap_field form.ipd_position_interested %}

                    <br>
                    <strong>Below, please list your delegation’s top three country preferences:</strong><br><br>
                    {% bootstrap_field form.country_pref_1 show_label=False %}
                    {% bootstrap_field form.country_pref_2 show_label=False %}
                    {% bootstrap_field form.country_pref_3 show_label=False %}

                    {% bootstrap_field form.additional_notes %}

                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Register
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}